html, body { height:100%; }

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face {
  font-family: "Dosis";
  src: url('../fonts/Dosis-SemiBold.ttf');
}

@font-face {
  font-family: "DosisRegular";
  src: url('../fonts/Dosis-Regular.ttf');
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	font-family: 'Dosis', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:20px;
	font-weight:400;
	line-height:24px;
	margin:0;
	padding:0;
	background:#222;
	color:#fff;
}

a { outline:none !important; }

p {
	margin:0;
	font-size:22px; 
	line-height:24px; 
	font-weight:300; }

h1 {
	margin:0 0 10px 0; 
	font-size:41px; 
	line-height:44px; 
	font-weight:400; }

.trigger {
	width: 60px; 
	height: 60px;
	box-sizing: border-box;
	padding: 28px 20px 0 20px; 
	position: absolute; 
	top: 0; 
	right: 0; 
	z-index: 4;
}

	.trigger span {
		width: 20px;
		height: 2px;
		margin: 0 0 5px 0;
		background: #666;
		border-radius: 1px;
		display: block;
		transition: all 0.2s ease-out;
		box-shadow: 0 1px 1px rgba(0,0,0,0.75);
	}

	.trigger:active span {
		transition: all 0.1s ease-out;
		background: #444;
	}

	.trigger.active span:first-of-type {
		margin: 3px 0 0 0;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		box-shadow: 0 1px 1px rgba(0,0,0,0);
		background: #ff6600;
	}

	.trigger.active span:last-of-type {
		margin: -2px 0 0 0;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		box-shadow: 0 1px 1px rgba(0,0,0,0);
		background: #ff6600;
	}

	.trigger.active:active span:first-of-type,
	.trigger.active:active span:last-of-type {
		transition: all 0.1s ease-out;
		background-color: #cc5200;
	}


#tray {
	width: 100%; 
	height: 100%; 
	padding: 70px 20px 20px 20px;
	background: rgba(0,0,0,0.95); 
	position: fixed; 
	top: 0; 
	left: 0;
	z-index: 3; 
	box-sizing: border-box;
	border-right: 1px solid #111;
	display: none;
}

#tray.active {
}

	#tray p {
		margin: 0 0 20px 0;
	}

	#tray p.smaller {
		font-size: 16px;
		line-height: 21px;
		font-family: 'DosisRegular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}

	#tray p.version {
		position: fixed; 
		bottom: 18px; 
		left: 0; width: 100%; 
		text-align: center; 
		margin: 0; 
		color: #666; 
		font-size: 12px; 
		line-height: 12px;
	}


.toggle,
.toggle:focus,
.toggle:hover,
.toggle:hover:active,
.toggle:active {
	margin: 0 0 10px 0;
 	padding: 0 0 0 82px;
	line-height: 38px;
	position: relative;
	background: none;
	color: #fff !important;
	border: none;
	display: block;
	font-family: 'Dosis', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-size: 15px;
}
  
.toggle.isActive {
  display: block;
}

  .toggle:before {
    content: "";
    width: 34px;
    height: 34px;
    background: rgba(255,255,255,1);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 2;
    transform: translateX(0px);
    
    transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
  }

  .toggle.isActive:before {
    content: "";
    width: 34px;
    height: 34px;
    background: rgba(255,255,255,1);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 2;
    transform: translateX(32px);
  }

  .toggle:active:after {
    background: rgba(159,166,170,1);
  }

  .toggle:after {
    content: "";
    width: 70px;
    height: 38px;
    background: #555;
    border-radius: 21px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
  }

  .toggle.isActive:after {
    content: "";
    width: 70px;
    height: 38px;
    background: #ff6600 !important;
    border-radius: 21px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }



#appWrap {
	position: relative; 
	width: 100%; 
	height: 100%; 
	box-sizing: border-box; 
	transform: translate(0, 0); 
	transition: all 0.35s ease-out;
	z-index: 2;
}
#appWrap.active {
	transform: translate(80%, 0);
}

#logo {
	width: 110px; 
	height: 26px;
	margin: 0 0 0 -55px; 
	background: url(../img/logo.svg) no-repeat 0 0;
	background-size: 110px 26px;
	position: fixed; 
	top: 20px; 
	left: 50%;
	z-index: 4;
}
	

/* FLIPPING THE SCREEN */
	
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
}

.flip-container.hover .flipper {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}


.flip-container, 
.front, 
.back {
	width:100%;
	height:100%;
}

/* flip speed goes here */
.flipper {
	transition: 1.0s;
	
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d; /* Chrome, Safari, Opera */

	position: relative;
	width:100%;
	height:100%;
}

/* hide back of pane during swap */
.front, 
.back {
	backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	
	position:absolute;
	top:0;
	left:0;
}

/* front pane, placed above back */
.front {
	background:#222;
	z-index:2;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
	background:transparent;
}
		
#eggWrapper,
#eggWrapperActive { padding: 0; }

#eggWrapperActive { display: none; }

	.eggWhite {
		display:block; 
		width: 150px; 
		height: 120px;
		margin:0 auto;
		padding:80px 0 0 0; 
		background-color: #fff; 
		-webkit-border-radius: 75px 75px 75px 75px / 108px 108px 72px 72px; 
		border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
		box-shadow:0 0 25px #000;	
	}
	
		.eggWhite .yolkColor {
			height:90px; 
			width:90px; 
			background:#ffcc33; 
			border-radius:100px; 
			margin:0 auto 40px auto;
			padding:10px 0 0 10px;
			box-shadow:inset 0 0 10px rgba(0,0,0,0.3);
		}
		
			.eggWhite .yolkColor .highlight {
				width:80px; 
				height:80px;
				margin:0;
				position:absolute;
				top:90px;
				background-image: -moz-radial-gradient(center center, ellipse closest-side, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0) 100%); 
				background-image: -webkit-radial-gradient(center center, ellipse closest-side, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0) 100%); 
				background-image: -o-radial-gradient(center center, ellipse closest-side, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0) 100%); 
				background-image: -ms-radial-gradient(center center, ellipse closest-side, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0) 100%); 
				background-image: radial-gradient(center center, ellipse closest-side, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0) 100%); 
			}
			
			.eggWhite .yolkColor .gloss {
				width:65px; 
				height:16px; 
				background:url(../img/gloss.svg) no-repeat 0 0; 
				background-size: 65px 16px;
				margin:0 0 0 8px;
				opacity:0.1;
			}
	

/* .hardnessWrapper { display:none; } */

.buttonWrapper {
	position:absolute; 
	bottom:20px; 
	left:0; 
	width:100%; 
	padding:0 20px; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

.buttonWrapper:active {
	bottom: 19px;
}

	.buttonWrapper .startButton,
	.buttonWrapper .cancelButton,
	.doneButton,
	.closeButton {
		display:block; 
		width:100%; 
		background:#FF6600; 
		line-height:54px; 
		color:rgba(255,255,255,1); 
		padding:0; 
		font-family:'Dosis', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		text-align:center; 
		text-decoration:none; 
		font-size:22px; 
		border-radius:27px; 
		border:none; 
		cursor:pointer;
		font-weight:400;
		box-shadow:0 2px 2px rgba(0,0,0,0.5);
		outline: none;
	}
	
	.buttonWrapper .startButton:active,
	.doneButton:active,
	.closeButton:active { background:#E54600; }

	.buttonWrapper .cancelButton { background:#FF0000; }
	.buttonWrapper .cancelButton:active	{ background:#CC0000; }

	.buttonWrapper .startButton:active,
	.buttonWrapper .cancelButton:active,
	.doneButton:active {
		color:rgba(255,255,255,0.75);
		box-shadow:0 0 0 rgba(0,0,0,1);
	}

	.doneButton {
		box-shadow: none;
	}

	.doneButton:active {
		margin-top: 31px;
	}


.wrapperCancel {
	display: none;
}

#sliderWrapper { 
	width: 100%;
	position: fixed;
	bottom: 95px;
	left: 0;
	background:#141414; 
	border-bottom:1px solid #333333; 
}

	#sliderWrapper .triangle {
		width:30px; 
		height:26px;
		background: url(../img/triangle.svg) no-repeat 0 0;
		background-size: 30px 26px;
		position:absolute; 
		top:-32px; 
		left:50%; 
		margin:0 0 0 -15px;
	}
	
		
.time {
	padding:0; 
	font-size:100px; 
	line-height: 100px;
	text-align:center;
	text-shadow:0 1px 4px rgba(0,0,0,1);
}
	
	
/* Color Transition on the egg yolk while countdown is on */

.eggWhite .yolkColor.softFade {
    -webkit-animation:softFade 3s linear;
    -moz-animation:softFade 3s linear;
	background:#BFB29F;
}
@-webkit-keyframes softFade {
	0% {
        background:#ff5800;
    }
    100% {
        /*background:#FF9900;*/
		background:#BFB29F;

    }
}
@-moz-keyframes softFade {
    0% {
        background:#ff5800;
    }
    100% {
        /*background:#FF9900;*/
        background:#BFB29F;
    }
}


.eggWhite .yolkColor.softMediumFade {
    -webkit-animation:softMediumFade 390s linear;
    -moz-animation:softMediumFade 390s linear;
	background:#FF9900
}
@-webkit-keyframes softMediumFade {
	0% {
        background:#ff5800;
    }
    100% {
        background:#FF9900;
    }
}
@-moz-keyframes softMediumFade {
    0% {
        background:#ff5800;
    }
    100% {
        background:#FF9900;
    }
}


.eggWhite .yolkColor.mediumFade {
    -webkit-animation:mediumFade 450s linear;
    -moz-animation:mediumFade 450s linear;
	background:#FFCC33;
}
@-webkit-keyframes mediumFade {
	0% {
        background:#ff5800;
    }
	50% {
		background:#FF9900	
	}
    100% {
        background:#FFCC33;
    }
}
@-moz-keyframes mediumFade {
    0% {
        background:#ff5800;
    }
	50% {
		background:#FF9900	
	}
    100% {
        background:#FFCC33;
    }
}


.eggWhite .yolkColor.mediumHardFade {
    -webkit-animation:mediumHardFade 510s linear;
    -moz-animation:mediumHardFade 510s linear;
	background:#ffe092;
}
@-webkit-keyframes mediumHardFade {
	0% {
        background:#ff5800;
    }
	33% {
		background:#FF9900;	
	}
	66% {
		background:#FFCC33;	
	}
    100% {
        background:#ffe092;
    }
}
@-moz-keyframes mediumHardFade {
    0% {
        background:#ff5800;
    }
	33% {
		background:#FF9900;	
	}
	66% {
		background:#FFCC33;	
	}
    100% {
        background:#ffe092;
    }
}


.eggWhite .yolkColor.hardFade {
    /*-webkit-animation:hardFade 560s linear;
    -moz-animation:hardFade 560s linear;
	*/
	
	 -webkit-animation:hardFade 10s linear;
    -moz-animation:hardFade 10s linear;
	
	background:#BFB29F;
}
@-webkit-keyframes hardFade {
	0% {
        background:#ff5800;
    }
	25% {
        background:#FF9900;
    }
	50% {
        background:#FFCC33;
    }
	75% {
        background:#ffe092;
    }
    100% {
        background:#BFB29F;
    }
}
@-moz-keyframes hardFade {
    0% {
        background:#ff5800;
    }
	25% {
        background:#FF9900;
    }
	50% {
        background:#FFCC33;
    }
	75% {
        background:#ffe092;
    }
    100% {
        background:#BFB29F;
    }
}

#popup {
	width:100%; 
	height:100%; 
	z-index:3; 
	position:absolute; 
	top:0; 
	left:0; 
	display:none; 
}

#black {
	background:#000; 
	width:100%; 
	height:100%; 
	z-index:1; 
	position:absolute; 
	top:0; 
	left:0; 
	opacity:0.9;
}

.buttonWrapper.done { z-index:2; }

